<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>
    
    <section class="card">
        <div class="login-container">
            <div class="login-page">
                <form class="form"> <span class="form-title">Signup</span> 
                    <!-- <span class="form-title cover-title"> <i class=""> The Iconic</i> </span> -->
                    <!-- <label for="username" class="text">Username</label>         -->
                    <input type="email" name="username" id="username" placeholder="Enter Username">
                    <!-- <label for="password" class="text">Create Password</label>         -->
                    <input type="password" name="password" id="password" placeholder="Create Password">
                    <!-- <label for="password" class="text">Confirm Password</label>         -->
                    <input type="password" name="password" id="password" placeholder="Confirm Password">
                    
                    <div class="login-container-form-btn">
                        <div class="login-page-form-btn">
                            <div class="form-btn-bg"></div> <button class="form-btn"> Signup </button>
                        </div>
                    </div>
                    <div class="text-padding"> <span class="txt1"> Already have an account? </span> <a
                            class="txt2" href="login.html"> Login </a> </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>